@model AdelanteRedo.Models.MeetingStaffAttendance

@{
    ViewBag.Title = "Details";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2>Details</h2>

<div>
    <h4>MeetingStaffAttendance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Meeting_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meeting.Meeting_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff.Staff_FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.Staff_FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MeetingStaffAttendanceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
