@using reCAPTCHA.MVC
@model AdelanteRedo.Models.MailViewModel

<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Always force latest IE rendering engine -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Meta Keyword -->
    <meta name="keywords" content="one page, business template, single page, onepage, responsive, parallax, creative, business, html5, css3, css3 animation">
    <!-- meta character set -->
    <meta charset="utf-8">

    <!-- Site Title -->
    <title>Adelante Hispanic Achievers</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/css")



</head>

<body>

    <section id="home">
        <div id="home-carousel" class="carousel slide" data-interval="false">
            <ol class="carousel-indicators">
                <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#home-carousel" data-slide-to="1"></li>
                <li data-target="#home-carousel" data-slide-to="2"></li>
            </ol>
           
            <div class="carousel-inner" style="width: 1349px">

                <div class="item active" style="background-image: url('../../img/slider/stock_graduation.jpg')">
                </div>
                <div class="carousel-caption">
                    <div class="mainSlideContent"
                         style="position: absolute; bottom: 20%; left: 0%; max-width: 100%; max-height: 50%; padding-top: 0px;">
                        <h3 class="mainSlideHeader" style="text-shadow: 3px 3px 0px #514c4c; font-size: 3.0em; color: #fff; position: absolute;"> Welcome to Adelante Hispanic Achievers!</h3>
                    </div>
                </div>
                <div class="item" style="background-image: url('/img/slider/dental_school.jpg')">
                </div>


                <div class="item" style="background-image: url('/img/slider/mara_and_mayor.jpg')">
                </div>
            </div>

                <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
                    <a class="sl-prev hidden-xs" href="#home-carousel" data-slide="prev">
                        <i class="fa fa-angle-left fa-3x"></i>
                    </a>
                    <a class="sl-next" href="#home-carousel" data-slide="next">
                        <i class="fa fa-angle-right fa-3x"></i>
                    </a>
                </nav>
            
        </div>
    </section>
    <br />
    <br />
    <br />
    <section id="parents">
        <div class="section-title text-center wow fadeInDown">
            <h2>Parents</h2>
            <p>Adelante programs are free of charge to our students and their families.</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="counter-section clearfix">
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.5s">
                        <div class="fact-item text-center">
                            <div class="fact-icon">
                                <i class="fa fa-check-square fa-lg"></i>
                            </div>
                            <span data-to="3.22">0</span>
                            <p><big>Average student's GPA</big></p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.8s">
                        <div class="fact-item text-center">
                            <div class="fact-icon">
                                <i class="fa fa-users fa-lg"></i>
                            </div>
                            <span data-to="135">0</span>
                            <p><big>Students Enrolled for 2015-2016</big></p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="1.1s">
                        <div class="fact-item text-center last">
                            <div class="fact-icon">
                                <i class="fa fa-clock-o fa-lg"></i>
                            </div>
                            <span data-to="97">0</span>
                            <p><big>Percent Overall School Attendance</big></p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="1.3s">
                        <div class="fact-item text-center last">
                            <div class="fact-icon">
                                <i class="fa fa-trophy fa-lg"></i>
                            </div>
                            <span data-to="145">0</span>
                            <p><big>TBD</big></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="container">
            <div class="row">

                <div class="col-md-5 col-md-offset-1 wow fadeInLeft">

                    <div class="subtitle text-center">
                        <h3>Testimonials</h3>
                        <p>“In Adelante everyone has a dream, everyone speaks the same language, and everyone is FAMILY” - Sabrina Lloret</p>
                    </div>

                    <div id="testimonial">

                        <div class="tst-item clearfix">
                            <div class="tst-single clearfix">
                                <img src="/img/client/reviewer.png" alt="Client" class="img-circle">
                                <div class="tst-content">
                                    <p>
                                        “Adelante's intention of partnering with other institutions to gian knowledge, understanding,
                                        and strength and leverage is remarkable.”
                                    </p>
                                    <br />
                                    <span>-Katie Loewen, Former Director of Admissions, Sacred Heart Academy</span>
                                    <br />
                                </div>
                            </div>
                            <div class="tst-single clearfix">
                                <img src="/img/client/reviewer.png" alt="Client" class="img-circle">
                                <div class="tst-content">
                                    <p>“I really love Adelante and after I joined my grades went a LOT higher. I would LOVE to come back. Thanks for letting me join.</p>
                                    <span>Gina, Thomas Jefferson MS 6 grader</span>
                                </div>
                            </div>
                        </div>
                        <div class="tst-item">
                            <div class="tst-single clearfix">
                                <img src="/img/client/reviewer.png" alt="Client" class="img-circle">
                                <div class="tst-content">
                                    <p>"We are very grateful for your help. this is the best program I have ever seen.""</p>
                                    <span>Parent, Myers MS.</span>
                                </div>
                            </div>
                            <div class="tst-single clearfix">
                                <img src="/img/client/reviewer.png" alt="Client" class="img-circle">
                                <div class="tst-content">
                                    <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                                    <span>John Doe,CEO</span>
                                </div>
                            </div>
                        </div>
                        <div class="tst-item">
                            <div class="tst-single clearfix">
                                <img src="/img/client/reviewer.png" alt="Client" class="img-circle">
                                <div class="tst-content">
                                    <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                                    <span>John Doe,CEO</span>
                                </div>
                            </div>
                            <div class="tst-single clearfix">
                                <img src="/img/client/reviewer.png" alt="Client" class="img-circle">
                                <div class="tst-content">
                                    <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                                    <span>John Doe,CEO</span>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end #testimonial -->
                </div> <!-- end .col-md-5 -->
                <div class="col-md-5 col-md-offset-1 wow fadeInRight">
                    <div class="subtitle text-center">
                        <h3>Some of Our Successes</h3>
                        <p></p>
                    </div>
                    <div class="progress-bars">
                        <span>High School Graduation Rate - <small>95%</small></span>
                        <div class="progress" data-progress="95">
                            <div class="bar"></div>
                        </div>
                        <span>College Acceptance Rate - <small>93%</small></span>
                        <div class="progress" data-progress="93">
                            <div class="bar"></div>
                        </div>
                        <span>Scholarship Granted Percent - <small>85%</small></span>
                        <div class="progress" data-progress="85">
                            <div class="bar"></div>
                        </div>
                        <span>Student Retention Rate - <small>97%</small></span>
                        <div class="progress kill-margin" data-progress="97">
                            <div class="bar"></div>
                        </div>
                    </div>  <!-- progress-bars -->
                </div>  <!-- end .col-md-5 -->
            </div>
        </div>
        <div class="container">
            <div class="row wow zoomIn">
                <div class="col-lg-12">
                    <div class="call-to-action text-center">
                        <p>“Parents can send their kids to Adelante programs every Saturday and be confident that they are going to be more than fine.  They will have opportunities to see the real core of life, visiting places like real companies and real educational institutions that in other circumstances they wouldn't be able to visit."</p>
                        <span>Ana Maria Giler, Adelante parent</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br />
    <br />
    <section id="about">
        <div class="container">
            <div class="row">

                <div class="section-title text-center wow fadeInUp" style="padding: 0px 0px 0px 0px; ">
                    </ol>
                    <h2>About Us </h2>
                    <br />
                    </ol>
                    </li>
                    <li>Adelante Hispanic Achievers was created to address the challenges facing Louisville’s Hispanic youth and help them succeed in four critical areas: personal, social, cultural, and educational</li>
                    <br />
                    <li>Adelante is a volunteer-based, non-profit, 501(C)3 organization that was founded in January 2004 by former JCPS school board chair Stephen Imhoff</li>
                    <br />
                    <li>The only organization in Jefferson County chartered to provide educational resources to Latino youth</li>
                    <br />
                    <li>Serves 145 students and their families per year</li>
                    <br />
                    <li>The only organization in Jefferson County chartered to provide educational resources to Latino youth</li>
                    <br />
                    <li>Graduated five cohorts of students, all of whom attend the college of his or her choice with scholarships</li>
                    <br />
                    <li>Our programs are provided free of charge.</li>
                    <br />
                    <br />
                    <h2>Adelante Awards and Recognition</h2>
                    </ol>
                    <br />
                    </li>
                    <li>2015 Bright Spot in Hispanic Education The White House Initiative on Educational Excellence for Hispanics</li>
                    <br />
                    <li>2012 CNPE Pyramid Award for Excellence in Governance</li>
                    <br />
                    <li>2012 Pyramid Art of Excellence in Governance</li>
                    </ol>
                </div>
                <div class="about-us text-center wow fadeInDown">
                </div>
            </div>
        </div>
        </section>
        <br />
        <section>
            <style>
                .parallaxAbout {
                    background-image: url("/img/award_group.jpg");
                    opacity: 1;
                    height: 500px;
                    background-attachment: fixed;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    color: #fff;
                }
            </style>
            <div class="parallaxAbout">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title text-center wow fadeInDown" style="text-shadow: 3px 3px 0px #514c4c; font-size: 3.0em; color: #fff; position:  center;">
                                <h2 style="color: #fff;">Our Mission and Goals</h2>
                                <p>"Our goal is to guide our students and support their desire, hope, and ambition to be productive citizens in our community." - Stephen Imhoff, Adelante Founder, Immediate Past President and former Board Chairman of Jefferson County Board of Education</p>
                            </div>
                        </div>
                    </div>
                </div> <!-- end .container -->
                </div>  
                <br />
                <br />
                <br />
        </section>
        <br />
        <br />
        <br />
        <section id="programs">
            <div class="section-title text-center wow fadeInDown">
                <h2>Programs</h2>
                <p>All of our programs are free. All programs include parent involvement (workshops, presentations, and individual support).</p>
            </div>
            <nav class="project-filter clearfix text-center wow fadeInLeft" data-wow-delay="0.5s">
                <ul class="list-inline">
                    <li><a href="javascript:;" class="filter" data-filter=".mentoring">Mentoring and Enrichment</a></li>
                    <li><a href="javascript:;" class="filter" data-filter=".readiness">College Readiness</a></li>
                    <li><a href="javascript:;" class="filter" data-filter=".corps">College Corps</a></li>
                    <li><a href="javascript:;" class="filter" data-filter=".tutoring">After School Tutoring</a></li>
                    <li><a href="javascript:;" class="filter" data-filter=".ambassadors">Ambassadors</a></li>
                    <li><a href="javascript:;" class="filter" data-filter=".tjx">TJX/Bick Hile Scholarship Program</a></li>
                    <li><a href="javascript:;" class="filter" data-filter=".bellarmine">Bellarmine Academy Martes (BAM)</a></li>
                </ul>
            </nav>
            <div id="projects" class="clearfix">
                <figure class="mix portfolio-item app">
                    <img class="img-responsive" src="/img/kids.png" alt="Portfolio Item">
                    <a href="/img/kids.png" title="Title One" rel="portfolio" class="fancybox"><span class="plus"></span></a>
                    <figcaption class="mask">
                        <h3>Intensive Learning</h3>
                        <span>Caption Here</span>
                    </figcaption>
                </figure>
                <figure class="mix portfolio-item photography">
                    <img class="img-responsive" src="/img/fafsa.jpg" alt="Portfolio Item">
                    <a href="/img/fafsa.jpg" title="Title Two" rel="portfolio" class="fancybox"><span class="plus"></span></a>
                    <figcaption class="mask">
                        <h3>College Readiness</h3>
                        <span>KHEAA Consultant Gene Weis talks with students about paying for college, completing their FAFSA’s, etc.</span>
                    </figcaption>
                </figure>
                <figure class="mix portfolio-item web">
                    <img class="img-responsive" src="/img/group.jpg" alt="Portfolio Item">
                    <a href="/img/group.jpg" title="Title Three" rel="portfolio" class="fancybox"><span class="plus"></span></a>
                    <figcaption class="mask">
                        <h3>Mentoring and Enrichment</h3>
                        <span>Caption Here</span>
                    </figcaption>
                </figure>
                <figure class="mix portfolio-item print">
                    <img class="img-responsive" src="/img/fun.jpg" alt="Portfolio Item">
                    <a href="/img/fun.jpg" title="Title Four" rel="portfolio" class="fancybox"><span class="plus"></span></a>
                    <figcaption class="mask">
                        <h3>Ambassadors</h3>
                        <span>Caption Here</span>
                    </figcaption>
                </figure>
                <figure class="mix portfolio-item app">
                    <img class="img-responsive" src="/img/mentoring.jpg" alt="Portfolio Item">
                    <a href="/img/mentoring.jpg" title="Title Five" rel="portfolio" class="fancybox"><span class="plus"></span></a>
                    <figcaption class="mask">
                        <h3>Mentoring and Enrichment</h3>
                        <span>Caption here</span>
                    </figcaption>
                </figure>
                <figure class="mix portfolio-item photography">
                    <img class="img-responsive" src="/img/studentofmonth.jpg" alt="Portfolio Item">
                    <a href="/img/studentofmonth.jpg" title="Title Six" rel="portfolio" class="fancybox"><span class="plus"></span></a>
                    <figcaption class="mask">
                        <h3>TJX Scholars</h3>
                        <span>Student of the Month</span>
                    </figcaption>
                </figure>
                <figure class="mix portfolio-item web app">
                    <img class="img-responsive" src="/img/uofl.png" alt="Portfolio Item">
                    <a href="#" title="Title Seven" rel="portfolio" class="fancybox"><span class="plus"></span></a>
                    <figcaption class="mask">
                        <h3>College Readiness</h3>
                        <span>Caption Here</span>
                    </figcaption>
                </figure>
                <figure class="mix portfolio-item print web">
                    <img class="img-responsive" src="/img/front-page.png" alt="Portfolio Item">
                    <a href="/img/front-page.png" title="Title Eight" rel="portfolio" class="fancybox"><span class="plus"></span></a>
                    <figcaption class="mask">
                        <h3>Ambassadors</h3>
                        <span>Caption Here</span>
                    </figcaption>
                </figure>
            </div> <!-- end #projects -->
        </section>
        <br />
        <br />
        <br />
        <section id="sponsors">
            <br />
            <br />
            <div class="row">
                <div class="section-title text-center wow fadeInUp">
                    <h2>Sponsors</h2>
                    <p>2015-2016</p>
                </div>
                @*Sponsor's logo*@
                @*<div class="col-lg-8>*@
                <div class="thumbnail" style="text-align: center; height: auto !important;">
                    <div id="DemoCarousel" class="carousel slide" data-interval="2000" data-ride="carousel">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#DemoCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#DemoCarousel" data-slide-to="1"></li>
                            <li data-target="#DemoCarousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <p><a href="http://www.give.org/"><img src="~/img/Logos/BBB.jpg" /></a></p>
                            </div>
                            <div class="item">
                                <ap><a href="https://www.cflouisville.org/"><img src="~/img/Logos/community.jpg" /></a><p>
                            </div>
                            <div class="item">
                                <p><a href="http://www.ge.com"><img src="~/img/Logos/GE.jpg" /></a></p>
                            </div>
                            <div class="item">
                                <p><a href="https://www.jefferson.kyschools.us/"><img src="~/img/Logos/GE.jpg" /></a></p>
                            </div>
                            <div class="item">
                                <p><a href="https://louisvilleky.gov/"><img src="~/img/Logos/LMC.jpg" /></a></p>

                            </div>
                            <div class="item">
                                <p><a href="https://www.mcdonalds.com/us/en-us.html"><img src="~/img/Logos/McDonald_39_s.jpg" /></a></p>
                            </div>
                            <div class="item">
                                <p><a href="https://www.statefarm.com/"><img src="~/img/Logos/statefarm.jpg" /></a></p>
                            </div>
                            <div class="item">
                                <p><a href="http://www.tjx.com/index.html"><img src="~/img/Logos/TJX.jpg" /></a></p>
                            </div>
                            <div class="item">
                                <p><a href="https://www.ups.com/"><img src="~/img/Logos/UPS.jpg" /></a></p>
                            </div>
                        </div>
                        <!-- Carousel Controls -->
                        <a class="carousel-control left" href="#DemoCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="carousel-control right" href="#DemoCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            @*</div>*@
            <br />
            <br />
            <br />

            <div class="container">
                <div class="row">
                    <div class="section-title text-center wow fadeInUp">
                        <h2>
                            Community Partners
                        </h2>
                    </div>
                    <div class="row">

                        <div class="col-md-4 col-md-offset-2 col-sm-6 text-left wow fadeInLeft">
                            <div class="media">
                                <a href="#" class="pull-left">

                                </a>
                                <div class="media-body">
                                    <ul>
                                        <big>
                                            <li>Adhawks Advertising</li>
                                            <li>Al Dia en America</li>
                                            <li>Americana Community Center</li>
                                            <li>Bellarmine University</li>
                                            <li>Bernheim Forest</li>
                                            <li>Bluegrass Community and Technical College</li>
                                            <li>Buechel United Methodist Church</li>
                                            <li>Center for Non-Profit Excellence</li>
                                            <li>Centre College</li>
                                            <li>Collegiate School</li>
                                            <li>Ecken & Smith Accountants</li>
                                            <li>Hanover College</li>
                                            <li>Hispanic Latino Business Council</li>
                                            <li>Hispanic Latino Coalition</li>
                                            <li>Iroquois Free Public Library</li>
                                            <li>G.L.I.P.</li>
                                            <li>Jefferson County Public School System</li>
                                        </big>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5 col-sm-6 wow text-left fadeInRight">
                            <div class="media">
                                <a href="#" class="pull-left"></a>
                                <div class="media-body">

                                    <ul>
                                        <big>
                                            <li>Junior Achievement</li>
                                            <li>Kentucky State University</li>
                                            <li>Kentucky Youth Advocates</li>
                                            <li>La Poderosa Radio</li>
                                            <li>Leadership Louisville Center</li>
                                            <li>Los Aztecas</li>
                                            <li>Muhammad Ali Center</li>
                                            <li>Northern Kentucky University</li>
                                            <li>NSHMBA</li>
                                            <li>Planned Parenthood of Kentucky</li>
                                            <li>Republic Bank</li>
                                            <li>Sacred Heart Academy</li>
                                            <li>St. Francis High School</li>
                                            <li>St. Xavier HS</li>
                                            <li>TARC</li>
                                            <li>University of Louisville</li>
                                        </big>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br />
        <br />
        <br />
        <!--
        End #donate
        ========================== -->
        <!--
        #subscribe
        ========================== -->
        <!--
        End #subscribe
        ========================== -->
        
    
    <br>
    <br>
    <section>
            @*<style>
                .parallax {
                    background-image: url("../../img/colors/e0decf.PNG");
                    height: 7000px;
                    background-attachment: fixed;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    color: #fff;
                }
            </style>*@
            @*<div class="parallax">*@
        <div class="container">
            <div class="row">
                <div class="section-title text-center wow fadeInUp">
                    <h2>
                        Board of Directors 
                    </h2>
                </div>
                <div class='row'>
                    @*<div class='col-md-offset-2 col-md-8'>*@
                            <div class="thumbnail" style="text-align: center; height: auto !important;">
                                <div id="BoardSection" class="carousel slide" data-interval="2000" data-ride="carousel">
                                    <!-- Bottom Carousel Indicators -->
                                    @*<ol class="carousel-indicators">
                        <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#quote-carousel" data-slide-to="1"></li>
                        <li data-target="#quote-carousel" data-slide-to="2"></li>
                    </ol>*@

                                    <!-- Carousel Slides / Quotes -->
                                    <div class="carousel-inner">
                                       
                                        <!-- Armando Unzueta -->
                                        <div class="item active">
                                                <blockquote>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <br />
                                                            <img class="img-thumbnail" src="~/img/board/officers/Armando_Unzueta.PNG" style="width: 100px;height:100px;">
                                                            <!--<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" style="width: 100px;height:100px;">-->
                                                        </div>
                                                        <div class="col-md-6 text-left">
                                                            <br />
                                                            <p>Officer</p>
                                                            <p>Chair:Armando Unzueta</p>
                                                            <p>Manager, Aircraft Maintenance, UPS Airlines</p>

                                                        </div>
                                                    </div>
                                                </blockquote>
                                        </div>
                                        <!-- Stephen Imhoff -->
                                        <div class="item">
                                            <blockquote>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <br />
                                                        <img class="img-thumbnail" src="~/img/board/officers/Stephen_Imhoff.PNG" style="width: 100px;height:100px;">
                                                    </div>
                                                    <div class="col-md-6 text-left">
                                                        <br />
                                                        <p>Officer</p>
                                                        <p>Chair Emeritus:</p>
                                                        <p>Stephen P. Imhoff, Esq., Attorney at Law<p></p>
                                                    </div>
                                                </div>
                                            </blockquote>
                                        </div>
                                        <!-- Gina Buendia -->
                                        <div class="item">
                                            <blockquote>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <br />
                                                        <img class="img-thumbnail" src="~/img/board/officers/Gina_Buendia_Cruz.PNG" style="width: 100px;height:100px;">
                                                    </div>
                                                    <div class="col-md-6 text-left">
                                                        <br />
                                                        <p>Officer</p>
                                                        <p>Vice Chair: </p>
                                                        <p>Gina Buendia-Cruz, MBA, Quality Control, General Electric</p>
                                                    </div>
                                                </div>
                                            </blockquote>
                                        </div>
                                        <!-- Guy Gomez -->
                                        <div class="item">
                                            <blockquote>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <br />
                                                        <img class="img-thumbnail" src="~/img/board/officers/Guy_Gomez.PNG" style="width: 100px;height:100px;">
                                                    </div>
                                                    <div class="col-md-6 text-left">
                                                        <br />
                                                        <p>Officer</p>
                                                        <p>Treasurer: </p>
                                                        <p>Guy Gomez, Owner/Operator, McDonald’s Restaurant</p>
                                                    </div>
                                                </div>
                                            </blockquote>
                                        </div>
                                        <!-- Irina McGrath -->
                                        <div class="item">
                                            <blockquote>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <br />
                                                        <img class="img-thumbnail" src="~/img/board/officers/Irina_McGrath.PNG" style="width: 100px;height:100px;">
                                                    </div>
                                                    <div class="col-md-6 text-left">
                                                        <br />
                                                        <p>Officer</p>
                                                        <p>Secretary: </p>
                                                        <p>Irina McGrath, ESL Middle School Resource Teacher</p>
                                                    </div>
                                                </div>
                                            </blockquote>
                                        </div>
                                        <!-- Copy this block for each new person -->
                                        <div class="item">
                                            <blockquote>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <br />
                                                        <img class="img-thumbnail" src="~img/board/#" style="width: 100px;height:100px;">
                                                    </div>
                                                    <div class="col-md-6 text-left">
                                                        <br />
                                                        <p>...</p>
                                                        <p>...</p>
                                                        <p>...</p>
                                                    </div>
                                                </div>
                                            </blockquote>
                                        </div>
                                        <!--end of section to copy-->

                                    </div>

                                    <!-- Carousel Buttons Next/Prev -->
                                    <!-- Carousel Controls -->
                                    <a class="carousel-control left" href="#DemoCarousel" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="carousel-control right" href="#DemoCarousel" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
            </div>

           </div>


                @*<div class="container">
                    <div class="row">
                        <div class="section-title text-center wow fadeInUp">
                            <h2>Board of Directors</h2>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 text-left wow fadeInLeft" style="color: black;">
                                    <div class="media">
                                        <a href="#" class="pull-left">
                                        </a>
                                        <div class="media-body">
                                            <h3>Officers</h3>
                                            <ul>
                                                <li>Chair:Armando Unzueta Manager, Aircraft Maintenance, UPS Airlines</li>
                                                <li>Chair Emeritus: Stephen P. Imhoff, Esq., Attorney-at-Law</li>
                                                <li>Vice Chair: Gina Buendia-Cruz, MBA, Quality Control, General Electric</li>
                                                <li>Treasurer: Guy Gomez, Owner/Operator, McDonald’s Restaurant</li>
                                                <li>Secretary: Irina McGrath, ESL Middle School Resource Teacher</li>
                                            </ul>
                                            <br />
                                            <br />
                                            <h3>Members</h3>
                                            <ul>
                                                <li>Roland R. Blahnik,President Emeritus, Goodwill Industries of Kentucky, Inc.</li>
                                                <li>Jose Neil Donis,  Editor\Publisher, “Al Día en America”</li>
                                                <li>Sandro Fajardo, Vice President – Treasury Management/Republic Bank & Trust</li>
                                                <li>Ben Ruiz, Creative Director & CEO Adhawks Advertising & Public Relations, Inc.</li>
                                                <li>Sonia Ruiz  CFO, Adhawks Advertising & Public Relations, Inc. </li>
                                                <li>Kim Huston Traffic and Delivery Manager, Humana</li>
                                            </ul>
                                            <br />
                                            <br />
                                            <h3>Advisory Board</h3>
                                            <ul>
                                                <li>Saul Garcia, Owner, Aztecas Restaurants</li>
                                                <li>Ellie Kerstetter,  Attorney at Law</li>
                                                <li>Miguel Lagunas</li>
                                                <li>Jessica Ann Luetzow Director, Women Who Write</li>
                                                <li>Abraham Solano, Pupil Personnel Department/ Jefferson County Public Schools</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            @*</div>*@
        </section>
    <br />
    <br />
    <br />
    <br />
        <section id="students">
            <!--used to be service-bottom-->
            <style>
                .parallaxStudents {
                    background-image: url("/img/adelante_art.jpg");
                    opacity: 1;
                    height: 500px;
                    background-attachment: fixed;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    color: #fff;
                }
            </style>
            <div class="parallaxStudents">
                 <div class="section-title text-center wow fadeInDown"  style="text-shadow: 3px 3px 0px #514c4c; font-size: 3.0em; color: #fff; position:  center;"> 
                    <h2>Students</h2>
                    
                    <p>We welcome students of Hispanic and Latino heritage. Students who join must commit to personal, social, academic, and cultural growth, and parents must help foster their development. 
                     To participate in any Adelante program, parent/guardian and student must be present and register on the first day of the program.</p>
                </div>
                <div class="container">
                    @*<div class="mobile-device">
                        <img data-wow-delay="0.2s" class="img-responsive black  wow fadeInLeftBig" src="~/img/adelante_art.jpg">*@
                        <!--<img data-wow-delay="0.5s" class="img-responsive white  wow fadeInLeftBig" src="img/front-page.png" alt="iPhone White">-->
                    @*</div>*@
                    @*<div class="service-features wow fadeInRight" style="align-content: center;">
                        <h2>Criteria and Enrollment</h2>
                        <br />
                        <br />
                        <big>
                            <p>Adelante accepts Hispanic students who attend middle or high school in Jefferson County, KY and the surrounding area.</p>
                            <br />
                            <p>Every student will be allowed to participate in Adelante Hispanic Achievers’ programs provided that they follow the attendance and behavior code agreements outlined in this manual, and agree to academic and personal growth.</p>
                            <br />
                            <p> Parents are accountable for their child’s attendance and progress.</p>
                        </big>
                    </div>*@
                </div>
                </div>
</section>
        <br />
        <br />
        <br />
        <!--
        #contact
        ========================== -->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="section-title text-center wow fadeInDown">
                        <h2>Contact Us</h2>
                        <p>We'd love to hear from you! Sign up to receive email notifications about Adelenate's upcoming events and information on how you can help support Adelante's mission.</p>
                    </div>

                    <div class="container">
                        <div class="col-md-12 text-center wow fadeInRight">

                        </div>


                        <div class="col-md-6 col-sm-9 wow fadeInLeft">
                            <div class="contact-form clearfix">
                                <form action="index.html" method="post">
                                    <div class="input-field">
                                        <input type="text" class="form-control" name="name" placeholder="Your Name" required="">
                                    </div>
                                    <div class="input-field">
                                        <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                                    </div>
                                    <div class="input-field message">
                                        <textarea name="message" class="form-control" placeholder="Your Message" required=""></textarea>
                                    </div>
                                    @Html.Recaptcha()
                                    @Html.ValidationMessage("ReCaptcha")
                                    <br />
                                    <input type="submit" class="btn btn-blue pull-left" value="SEND MESSAGE" id="msg-submit">
                                </form>
                            </div>
                        </div>
                        @*Google Map Location*@
                        <div class="col-md-6 right">

                            <div class="footer-map wow fadeInDown">

                                <style>
                                    #map {
                                        height: 400px;
                                        width: 100%;
                                    }
                                </style>
                                <h3>Our Location</h3>
                                <div id="map"></div>

                                <script>

                                    function initMap() {
                                        var uluru = { lat: 38.207199, lng: -85.648527 };
                                        var map = new google.maps.Map(document.getElementById('map'), {
                                            zoom: 15,
                                            center: uluru
                                        });
                                        var marker = new google.maps.Marker({
                                            position: uluru,
                                            map: map
                                        });
                                    }
                                </script>

                                <script async defer
                                        - src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2aDMkX0rbpslQ46JyJ-V_dUsYCUdiem8&callback=initMap">

                                </script>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            @*<div class="col-md-4 text-left wow fadeInRight">
                    <p>Sign up to receive email notifications about Adelenate's upcoming events and information on how you can help support Adelante's mission.</p>
                </div>*@
            <br />
            <br />
            <br />
        </section>
        <br />
        <br />
        <br />


        <!--
        End #contact
        ========================== -->
        <!--
        #footer
        ========================== -->
        <section id="footer" class="text-center" style="background-color: #e9e9e9;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-logo wow fadeInDown">
                            <img src="/img/transparent_adelante_logo.png" alt="logo" style="max-height: 100px;">
                        </div>
                        <div class="footer-social wow fadeInUp">
                            <h3>Privacy Policy</h3>
                            <p>
                                Adelante respects your privacy. We collect no information about you unless you choose to provide that information to us. We do not give, share, sell or transfer any personal information about you to any third parties.
                                To prevent unauthorized access, maintain accuracy, and ensure the correct use of information, we have put in place appropriate physical, electronic, and administrative procedures to safeguard and secure any information that we collect.
                                If you have any questions about our privacy practices, please contact us at our physical address or email: maramaldonado@att.net
                            </p>
                            <br />

                        </div>


                        @*<div class="copyright">
                                <p><small>theme by <a href="http://graphberry.com">graphberry.com</a> developed by <a target="_blank" href="http://www.themefisher.com">themefisher</a></small></p>
                            </div>*@

                    </div>
                </div>
            </div>
        </section>

        <!--
        End #contact
        ========================== -->
        <!--
        #footer
        ========================== -->
        <footer id="footer" class="text-center navbar-fixed-bottom" style="height: 55px; background-color: #e9e9e9;">


            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="btn btn-primary btn-lg" role="button" style="background-color: #de2f0b; border-color: #de2f0b; position:center">Donate</a>
                        <a href="https://www.facebook.com/Adelante-Hispanic-Achievers-164080746962301/?hc_ref=SEARCH&fref=nf"><i class="fa fa-facebook fa-lg" style="color: #3b5998;"></i></a>
                        <a href="https://twitter.com/AdelanteKy"><i class="fa fa-twitter fa-lg" style="color: #00aced;"></i></a>
                        <a href="https://www.youtube.com/"><i class="fa fa-youtube fa-lg" style="color: #e52d27;"></i></a>
                        <a href="https://plus.google.com/"><i class="fa fa-google-plus fa-lg" style="color: #dd4b39;"></i></a>
                        <a href="https://www.instagram.com/adelanteky/?hl=en"><i class="fa fa-instagram fa-lg" style="color: #8a3ab9;"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <!--
        End #footer
        ========================== -->
        <!--
        JavaScripts
        ========================== -->
        <!-- main jQuery -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/lib")
</body>
</html>
@*GitHub API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Status Help*@
