@model AdelanteRedo.Models.Staff

@{
    ViewBag.Title = "Details";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2>Details</h2>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Staff_FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff_FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff_LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff_LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff_City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff_City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff_State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff_State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff_Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff_Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff_HomeTele)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff_HomeTele)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff_CellPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff_CellPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STARTDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STARTDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ENDDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ENDDATE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StaffID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
