@model AdelanteRedo.Models.StudentParent

@{
    ViewBag.Title = "Delete";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2>Delete Student Parent Records</h2>
<br />
<br />
<h3>Are you sure you want to delete this?</h3>
<br />
<br />
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Parent.Parent_FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parent.Parent_FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
