@model IEnumerable<AdelanteRedo.Models.StudentParent>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2>Student Parent Records</h2>
<br />
<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Parent.Parent_FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.LastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Parent.Parent_FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.LastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentParentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentParentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentParentID })
        </td>
    </tr>
}

</table>
