@model IEnumerable<DataLib.Parent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Parent_FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parent_LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parent_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parent_City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parent_State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parent_Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parent_HomeTele)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parent_CellPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parent_Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Parent_FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parent_LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parent_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parent_City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parent_State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parent_Zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parent_HomeTele)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parent_CellPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parent_Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Parent_NUM }) |
            @Html.ActionLink("Details", "Details", new { id=item.Parent_NUM }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Parent_NUM })
        </td>
    </tr>
}

</table>
