@model AdelanteRedo.Models.StudentAttendance

@{
    ViewBag.Title = "Details";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2>Student Attendance Record Details</h2>
<br />
<br />
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.MeetingID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meeting.MeetingID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attended)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attended)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentAttendanceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
