@model IEnumerable<AdelanteRedo.Models.StudentAttendance>

@{
    ViewBag.Title = "Index";
}
@if (User.IsInRole("Volunteer"))
{
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2>Student Attendance Records</h2>
<br />
<br />
<p>
    @Html.ActionLink("Create New", "Create")
    <br />

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Meeting.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attended)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Meeting.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Attended)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.StudentAttendanceID }) |
            @Html.ActionLink("Details", "Details", new { id = item.StudentAttendanceID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.StudentAttendanceID })
        </td>
    </tr>
}

</table>
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
@if(User.IsInRole("Student"))
{

    <h1>You do not have permission to view this web page</h1>
}