@model IEnumerable<AdelanteRedo.Models.MeetingStudentAttendance>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Meeting.MeetingID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attendance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Meeting.MeetingID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Attendance)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MeetingStudentAttendanceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MeetingStudentAttendanceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MeetingStudentAttendanceID })
        </td>
    </tr>
}

</table>
