@model AdelanteRedo.Models.Volunteer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Volunteer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Volunteer_FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volunteer_FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volunteer_LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volunteer_LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volunteer_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volunteer_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volunteer_City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volunteer_City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volunteer_State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volunteer_State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volunteer_Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volunteer_Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volunteer_HomeTele)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volunteer_HomeTele)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volunteer_CellPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volunteer_CellPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volunteer_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volunteer_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STARTDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STARTDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ENDDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ENDDATE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VolunteerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
