@model IEnumerable<DataLib.Donor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Donor_FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donor_LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donor_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donor_City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donor_State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donor_Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donor_HomeTele)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donor_CellPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donor_Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Donor_FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donor_LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donor_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donor_City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donor_State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donor_Zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donor_HomeTele)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donor_CellPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donor_Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Donor_NUM }) |
            @Html.ActionLink("Details", "Details", new { id=item.Donor_NUM }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Donor_NUM })
        </td>
    </tr>
}

</table>
