<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Adelante Hispanic Achievers</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
                @*@Html.ActionLink("The A Team", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <a class="navbar-brand" rel="home" href="#" title="Adelante Logo">
                    <img style="max-width:700px; max-height: 43px; margin-top: -7px;"
                         src="/img/adelante-logo.png">
                </a>
            </div>
            <div class="col-md-offset-6">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="margin-top: 15px; margin-right: 10px; background-color: #de2f0b; border-color: #de2f0b; height: 40px; width:200px; position: center;">
                                    About Adelante
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Index", "Home")#home">Home</a></li>
                                    <li><a href="@Url.Action("Index", "Home")#about">About</a></li>
                                    <li><a href="@Url.Action("Index", "Home")#parents">Parents</a></li>
                                    <li><a href="@Url.Action("Index", "Home")#programs">Programs</a></li>
                                    <li><a href="@Url.Action("Index", "Home")#sponsors">Sponsors</a></li>
                                    <li><a href="@Url.Action("Index", "Home")#students">Students</a></li>
                                    <li><a href="@Url.Action("Index", "Home")#contact">Contact Us</a></li>
                                </ul>
                            </div>
                        </li>
                        @{
                            if (User.IsInRole("Student"))
                            {
                                <li>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="margin-top: 10px; margin-right: 10px; background-color: #de2f0b; border-color: #de2f0b;">
                                            Volunteer
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Calendar", "Index", "Event")</li>
                                            <li>@Html.ActionLink("Courses", "Index", "Course")</li>
                                            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                                        </ul>
                                    </div>
                                </li>
                            }}
                        @{
                            if (User.IsInRole("Volunteer"))
                            {
                                <li>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="margin-top: 10px; margin-right: 10px; background-color: #de2f0b; border-color: #de2f0b;">
                                            Volunteer
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Calendar", "Index", "Event")</li>
                                            <li>@Html.ActionLink("Students", "Index", "Student")</li>
                                            <li>@Html.ActionLink("Enrollments", "Index", "Enrollment")</li>
                                        </ul>
                                    </div>
                                </li>
                            }}
                        @{
                            if (User.IsInRole("Admin"))
                            {
                                <li>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="margin-top: 10px; margin-right: 10px; background-color: #de2f0b; border-color: #de2f0b;">
                                            Admin
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Students", "Index", "Student")</li>
                                            <li>@Html.ActionLink("Enrollments", "Index", "Enrollment")</li>
                                            <li>@Html.ActionLink("User Management", "Index", "UserManagement")</li>
                                        </ul>
                                    </div>
                                </li>


                            }}
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>


            @*<div class="col-md-offset-2">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="margin-top: 10px; margin-right: 10px;">
                                    Student
                                </button>
                                <ul class="dropdown-menu">
                                    <li>test</li>
                                    @*<li>@Html.ActionLink("Calendar", "Index", "Event")</li>
                                    <li>@Html.ActionLink("Courses", "Index", "Course")</li>
                                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                                </ul>
                            </div>
                        </li>
                        @{

                            if (User.IsInRole("Volunteer"))
                            {
                                <li>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="margin-top: 10px; margin-right: 10px;">
                                            Volunteer
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Calendar", "Index", "Event")</li>
                                            <li>@Html.ActionLink("Students", "Index", "Student")</li>
                                            <li>@Html.ActionLink("Enrollments", "Index", "Enrollment")</li>
                                        </ul>
                                    </div>
                                </li>
                            }}
                        
                        @{

                            if (User.IsInRole("Admin"))
                            {
                                <li>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="margin-top: 10px; margin-right: 10px;">
                                            Admin
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Students", "Index", "Student")</li>
                                            <li>@Html.ActionLink("Enrollments", "Index", "Enrollment")</li>
                                            <li>@Html.ActionLink("User Management", "Index", "UserManagement")</li>
                                        </ul>
                                    </div>
                                </li>

                            }
                        }

                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
</div>*@
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Adelante Hispanic Achievers</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
