@model AdelanteRedo.Models.Programs

@{
    ViewBag.Title = "Delete";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2>Delete Program Record</h2>
<br />
<br />
<h3>Are you sure you want to delete this?</h3>
<br />
<br />
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProgramName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgramName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayofTheWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayofTheWeek)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
