@model AdelanteRedo.Models.Programs

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Programs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProgramName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgramName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayofTheWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayofTheWeek)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProgramsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
