@model DataLib.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student_FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_MInitial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_MInitial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_HomeTele)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_HomeTele)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_CellPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_CellPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_Picture_path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Picture_path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_PimaryLang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_PimaryLang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_SecondLang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_SecondLang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STARTDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STARTDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ENDDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ENDDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parent.Parent_FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parent.Parent_FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Student_NUM }) |
    @Html.ActionLink("Back to List", "Index")
</p>
